.popup {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente para fundo do pop-up */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .popupclose{
    display: none; 
  }
  
  .popupcontent {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 500px; /* Largura máxima do pop-up */
    width: 100%;
    max-height: 80vh; /* Altura máxima do pop-up, ajuste conforme necessário */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando o conteúdo excede a altura */
  }

  .popupcontent::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }
  
  .popupcontent::-webkit-scrollbar-thumb {
    background-color: #43A047; /* Cor da barra de rolagem */
    border-radius: 5px; /* Bordas arredondadas da barra de rolagem */
  }
  
  .popupcontent::-webkit-scrollbar-thumb:hover {
    background-color: #4CAF50; /* Cor da barra de rolagem ao passar o mouse */
  }
  
  .popupcontent::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo da área da barra de rolagem */
  }
  
  .popup h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .popup label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup input[type="text"],
  .popup input[type="date"],
  .popup input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup ul {
    list-style: none;
    padding: 0;
  }
  
  .popup li {
    margin-bottom: 10px;
  }
  
  .popup button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button:not(:last-child) {
    margin-right: 10px;
  }
  
  .popup button:hover {
    color: #ffffff;
    background-color: #43A047;
  }

  .editbutton button{
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5px ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .editbutton button:hover {
    color: #ffffff;
    background-color: #43A047;
  }
  